/* content section start */
.content-section {
    padding: 85px 0;
    background: #FFF;
    h3 {
        font-size: 30px;
        margin-bottom: 15px;
        color: #071531;
    }
    blockquote {
        padding-left: 1rem;
        border-left: 4px solid #FF0754;
        margin: 25px 0 20px;
        p {font-size: 17px;}
    }
    ul,
    ol {margin: 20px 0;}
    ul li,
    ol li {
        line-height: 28px;
        margin-left: 17px;
    }
    ul li {list-style-type: disc;}
    ol li {list-style-type: decimal;}
}
/* content section end */
