@import "partials/init";

/* navigation style start */
.contact-nav {
	background: #071531;
	.cn-content {
		justify-content: space-between;
		display: flex;
		height: 46px;
		overflow: hidden;
		transition: all .1s;
		li {
			float: left;
			a {
				display: inline-block;
				height: 46px;
				line-height: 46px;
				font-size: 14px;
				color: #FFF;
				i {
					margin: 0 5px 0 20px;
					font-size: 17px;
				}
				&:hover {color: #FFF;}
			}
		}
		.contact {
			li {
				margin-right: 25px;
				color: #FFF;
			}
			span {margin-right: 5px;}
		}
		&.active {height: 0;}
	}
}

/* main nav start */
.navbar {
	background: #FFF;
	position: relative;
	height: 75px;
	border-bottom: 1px solid rgba(#FFF, .2);
	transition: all .1s;
	padding: 0;
	&::after {
		content: '';
		display: inline-block;
		position: absolute;
		width: 100%;
		height: 1px;
		background: rgba(#071531, .05);
		left: 0;
		bottom: 0;
	}
	a {
		color: #071531;
		font-size: 16px;
		letter-spacing: .6px;
	}
	.navbar-brand {
		font-size: 34px;
		text-transform: capitalize;
		font-weight: bold;
	}
	button {
		border: none;
		padding-right: 0;
		color: #071531;
		font-size: 28px;
		&:focus {outline: none;}
	}
	.navbar-collapse {
		background: #FFF;
		position: absolute;
		border-bottom: 1px solid rgba(#071531, .05);
		width: 100%;
		top: 100%;
		left: 0;
		.nav-link {
			padding: 10px 0;
			&:hover,
			&.active {color: #ED094F;}
		}
	}
	.navbar-nav {
		padding: 0 15px;
		.nav-item:first-child a {margin-top: 12px;}
		.nav-item:last-child a {margin-bottom: 12px;}
	}

	.dropdown-menu {
		background: none;
		border: none;
		a {
			background: none;
			font-size: 16px;
			position: relative;
			color: #071531;
			padding: 6px 15px 6px 20px;
			&::before {
				content: '';
				display: inline-block;
				position: absolute;
				width: 12px;
				height: 1px;
				background: #071531;
				left: 0;
				top: 44%;
			}
			&:hover {color: #ED094F;}
			&:hover::before {background: #ED094F;}
		}
	}
}
/* navigation style end */





/* header section start */
.header-section {
	background-image: url('../images/bg_img/01.jpg');
	background-position: top;
	background-size: cover;
	.cover {
		background: linear-gradient(to top, rgba(#001443, .3), rgba(#001443, .6));
		padding: 210px 0 135px;
		min-height: 90vh;
		display: flex;
		align-items: center;
		color: #FFF;
		text-align: center;
		h1 {
			font-weight: bold;
			font-size: 70px;
		}
		h5 {margin-bottom: 20px;}
		a {
			display: inline-block;
			color: #FFF;
			height: 45px;
			line-height: 45px;
			border-radius: 4px;
			font-size: 16px;
			padding: 0 25px;
			margin: 5px;
			font-weight: 500;
			background: #FF0754;
			transition: all .3s;
			min-width: 154px;
			text-align: center;
			&:hover {background: #D40B49;}
		}
	}
}
/* header section end */





/* second header start */
.second-header {
	background-image: url('../images/bg_img/01.jpg');
	background-position: top;
	background-size: cover;
	.cover {
		background: linear-gradient(to top, rgba(#001443, .3), rgba(#001443, .6));
		padding: 185px 0 60px;
		min-height: 25vh;
		display: flex;
		align-items: center;
		color: #FFF;
		h1 {
			font-weight: bold;
			font-size: 54px;
		}
		ul {
			li {
				display: inline-block;
				color: #DDD;
				text-transform: uppercase;
				font-size: 16px;
				margin: 8px 15px 8px 0;
			}
			a {
				position: relative;
				color: #FFF;
				margin-right: 7px;
				&:hover {text-decoration: underline;}
				&:after {
					content: '';
					display: inline-block;
					position: absolute;
					right: -15px;
					height: 80%;
					top: 10%;
					width: 1px;
					background: #FFF;
					transform: rotate(10deg);
				}
			}
		}
	}
}
/* second header end */





/* about section start */
.about-section {
	background: #FFF;
	padding: 95px 0 85px;
	.about-service {
		margin-top: -210px;
		margin-bottom: 45px;
		article {
			padding: 30px 30px 25px;
			background: #FFF;
			border-radius: 4px;
			box-shadow: 0px 5px 25px 5px rgba(#071531,.05);
			margin-bottom: 30px;
			transition: all .3s;
			&:hover {
				transform: translateY(-15px);
				background: #FF0754;
				color: #FFF;
				h1 {color: #FFF;}
				p {color: #FFF;}
			}
		}
		h1 {
			transition: all .3s;
			font-size: 60px;
			color: #FF0754;
		}
		h5 {
			margin: 20px 0;
			font-weight: 500;
		}
		p {font-size: 15px;}
	}
	.about-content {
		figure {
			position: relative;
			margin: 0;
			border-radius: 4px;
			overflow: hidden;
			height: 100%;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			figcaption {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background: linear-gradient(to top, rgba(#001443, .2), rgba(#001443, .5));
				display: flex;
				justify-content: center;
				align-items: center;
			}
			a {
				border-radius: 50%;
				background: #FFF;
				padding: 4px;
				transition: all .3s;
				animation: mapanimate 2s infinite;
				i {
					border: 3px solid #FF0754;
					display: inline-block;
					width: 75px;
					height: 75px;
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 50%;
					font-size: 36px;
					color: #FF0754;
					padding-left: 5px;
					transition: all .3s;
				}
			}
			&:hover a {background: #FF0754;}
			&:hover i {
				border-color: #FFF;
				color: #FFF;
			}
		}
		article {
			a {
				margin-top: 10px;
				display: inline-block;
				color: #FFF;
				height: 40px;
				line-height: 40px;
				border-radius: 4px;
				font-weight: 500;
				font-size: 15px;
				min-width: 136px;
				text-align: center;
				padding: 0 25px;
				background: #FF0754;
				transition: all .3s;
				&:hover {background: #D40B49;}
			}
		}
	}
}
@keyframes mapanimate {
	0% {box-shadow: 0 0 0 0 rgba(#FFF, 1);}
	70% {box-shadow: 0 0 0 12px rgba(#FFF, 0);}
	100% {box-shadow: 0 0 0 0 rgba(#FFF, 0);}
}
/* about section end */





/* product section start */
.product-section {
	background: #EDF1F5;
	padding: 85px 0;
	figure {
		margin: 15px 0;
		position: relative;
		border-radius: 4px;
		overflow: hidden;
		a {
			position: absolute;
			width: 100%;
			height: 100%;
			background: rgba(#001443, .3);
			top: 0;
			left: 0;
			display: flex;
			align-items: flex-end;
			color: #FFF;
			padding: 15px 20px;
			transition: all .3s;
		}
		h5 {
			font-weight: 500;
			margin-bottom: -25px;
			transition: all .2s;
		}
		p {
			transform: translateY(60px);
			display: inline-block;
			color: #FFF;
			font-size: 14px;
			transition: all .3s;
			margin-bottom: 5px;
			&:hover {text-decoration: underline;}
		}
		&:hover {
			a {background: rgba(#001443, .6);}
			h5 {margin-bottom: 8px;}
			p {transform: translateY(0);}
		}
	}
}
/* product section end */





/* gallery section start */
.gallery-section {
	background-image: url('../images/bg_img/03.jpg');
	background-position: center;
	background-size: cover;
	.cover {
		overflow: hidden;
		background: linear-gradient(to top, rgba(#001443, .3), rgba(#001443, .6));}
	.owl-carousel {
		border-left: 1px solid rgba(#FFF, .2);
		border-right: 1px solid rgba(#FFF, .2);
		position: relative;
		&::after {right: 100%;}
		&::before {left: 100%;}
		&::after,
		&::before {
			content: '';
			display: inline-block;
			width: 5000%;
			height: 100%;
			position: absolute;
			top: 0;
			background: linear-gradient(to top, rgba(#001443, .1), rgba(#001443, .2));
		}
	}
	.owl-dots {display: none;}
	.gallery-content {
		min-height: 420px;
		height: 45vh;
		display: flex;
		align-items: flex-end;
		border: 1px solid rgba(#FFF, .2);
		padding: 20px;
		article {
			transform: translateY(calc(100% - 42px));
			transition: all .3s;
			color: #FFF;
			p {
				transform: translateY(100%);
				display: inline-block;
				color: #FFF;
				transition: all .4s;
			}
			a {
				transform: translateY(100%);
				display: inline-block;
				color: #FFF;
				transition: all .4s;
				font-size: 15px;
				&:hover {text-decoration: underline;}
			}
		}
		&:hover {
			background: linear-gradient(to top, rgba(#001443, .1), rgba(#001443, .2));
			article {transform: translateY(0);}
			p {transform: translateY(0);}
			a {transform: translateY(0);}
		}
	}
}
/* gallery section end */





/* testimonials section start */
.testimonials-section {
	padding: 85px 0;
	background: #FFF;
	.owl-carousel {
		position: relative;
		&::after,
		&::before {
			content: '';
			display: inline-block;
			position: absolute;
			width: 15px;
			height: 100%;
			top: 0;
			background: #FFF;
			z-index: 999;
		}
		&::after {left: 0;}
		&::before {right: 0;}
		.owl-dots {
			padding: 0 15px;
			.owl-dot {
				width: 32px;
				height: 3px;
				margin-right: 12px;
				background: #071531;
				&.active {background: #FF0754;}
				&:focus {outline: none;}
			}
		}
	}
	article {
		padding: 15px;
		.content {
			background: #EDF1F5;
			padding: 20px;
			position: relative;
			&::before {
				content: '';
				display: inline-block;
				position: absolute;
				border-top: 12px solid #EDF1F5;
				border-right: 12px solid transparent;
				border-bottom: 12px solid transparent;
				border-left: 12px solid transparent;
				top: 100%;
				left: 18px;
			}
		}
		figure {
			display: flex;
			align-items: center;
			margin-top: 25px;
			img {
				width: 60px !important;
				height: 60px;
				border-radius: 50%;
				margin-right: 15px;
			}
			h6 {
				font-weight: 500;
				font-size: 16px;
			}
			p {
				font-size: 15px;
				margin: 0;
			}
		}
	}
	.owl-carousel-sponsor {
		margin-top: 45px;
		.owl-dots {display: none;}
		figure {margin: 15px;}
	}
}
/* testimonials section end */





/* news section start */
.news-section {
	background: #EDF1F5;
	padding: 85px 0 55px;
	figure {
		margin-bottom: 30px;
		position: relative;
		border-radius: 4px;
		overflow: hidden;
		a {
			background: rgba(#001443, .3);
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			display: flex;
			align-items: flex-end;
			padding: 15px 20px;
			color: #FFF;
		}
		h6 {font-size: 18px;}
		p {
			margin-bottom: 7px;
			color: #FFF;
			font-size: 15px;
		}
		img {transition: all .3s;}
		&:hover img {transform: scale(1.1);}
	}
	.more-news {
		background: linear-gradient(to top, rgba(#001443, .3), rgba(#001443, .6));
		height: calc(100% - 30px);
		a {
			justify-content: center;
			align-items: center;
			font-size: 75px;
		}
	}
}
/* news section end */





/* counter section start */
.counter-section {
	background-image: url('../images/bg_img/03.jpg');
	background-position: center;
	background-size: cover;
	.cover {
		background: linear-gradient(to top, rgba(#001443, .3), rgba(#001443, .6));
		padding: 95px 0 85px;
		.owl-carousel {
			.owl-dots {
				margin-top: 20px;
				.owl-dot {
					width: 32px;
					height: 3px;
					margin-right: 12px;
					background: #FFF;
					&.active {background: #FF0754;}
					&:focus {outline: none;}
				}
			}
		}
		article {overflow: hidden;}
		h2 {color: #FFF;}
		p {
			color: #FFF;
			margin-bottom: 0;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}
	}
}
/* counter section end */





/* contact section start */
.contact-section {
	background: #FFF;
	padding: 85px 0;
	.contact {
		h5 {
			font-size: 17px;
			font-weight: 500;
		}
		p {font-size: 15px;}
	}
	.maps {
		width: 100%;
		min-height: 265px;
		border: 1px solid rgba(#071531, .1);
		height: 90%;
		margin-top: 8px;
	}
}
/* contact section end */





/* subscribe section start */
.subscribe-section {
	background-image: url('../images/bg_img/03.jpg');
	background-position: center;
	background-size: cover;
	.cover {
		background: linear-gradient(to top, rgba(#001443, .3), rgba(#001443, .6));
		padding: 95px 0;
	}
	article {
		color: #FFF;
		li {
			float: left;
			a {
				margin: 3px 20px 3px 0;
				display: inline-block;
				color: #FFF;
				font-size: 20px;
				transition: all .2s;
				&:hover {color: #FF0754;}
			}
		}
	}

	form {
		display: flex;
		margin: 10px 0;
		input {border-color: #FFF;}
		input:focus {
			box-shadow: none;
			border-color: #FF0754;
		}
		input,
		button {
			height: 48px;
			line-height: 48px;
			padding: 0 15px;
			border-radius: 0;
		}
		button {
			background: #FF0754;
			border: none;
			&:hover {background: #D40B49;}
		}
	}
}
/* subscribe section end */





/* footer section strar */
.footer-section {
	background: #EDF1F5;
	padding: 65px 0;
	.contact-area {
		overflow: hidden;
		h6 {
			font-weight: 500;
			text-transform: uppercase;
			margin: 36px 0 12px;
			font-size: 16px;
			color: #000;
		}

		p {
			color: #071531;
			margin-bottom: 8px;
			font-size: 15px;
		}
		a {
			color: #071531;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
				color: #ED094F;
			}
			i {
				min-width: 20px;
				display: inline-block;
				vertical-align: middle;
				font-size: 17px;
				margin-top: -1px;
			}
		}
	}
}
.secound-footer {
	border: 1px solid rgba(#000, .05);
	background: lighten(#EDF1F5, 2%);
	.content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		min-height: 75px;
		padding: 15px;
	}
	p {
		height: 28px;
		line-height: 28px;
		margin: 0;
		font-size: 15px;
		a {
			color: #FF0754;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
				color: #D40B49;
			}
		}
	}
}
/* footer section strar */




/* back to top */
#scroll {
    position: fixed;
    right: 14px;
    bottom: 30px;
	width: 40px;
    height: 40px;
    line-height: 36px;
	text-align: center;
    border: 1px solid #EDF1F5;
    display: none;
	z-index: 99999;
    padding: 2px 1px 0 0;
    background: #071531;
	&:hover {
		border-color: #FFF;
		&::after {
		    border-top: 2px solid #FFF;
		    border-left: 2px solid #FFF;
		}
	}
	&::after {
	    display: inline-block;
	    content: '';
	    width: 9px;
	    height: 9px;
	    transform: rotate(45deg);
	    border-top: 2px solid #EDF1F5;
	    border-right: 2px solid transparent;
	    border-bottom: 2px solid transparent;
	    border-left: 2px solid #EDF1F5;
	}
}
/* end back to top */
